.text-center {
    text-align: center;
}
.margin {
    margin-bottom: 20px;
}
.border {
    border: 1px solid #ccc; 
}
.inline-block {
    display: inline-block;
}
input[type=file] {
    display: inline-block;
}
.head-font {
    margin:0px;
    padding:0px;
    background-color:#888ec2;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    height:36px;
}
.common-font {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    height:30px;
}
.input-class{
    display: inline-block;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

/* 覆盖样式 */
.panel-heading {
    padding: 1px 15px
}
.panel-group .panel+.panel {
    margin-top: 30px;
}
